:root{
    --header-height: 3rem;
    /*-------------------------*/
    --hue-color: 25;
    /*-------------------------*/
    --first-color: hsl(var(--hue-color),69%, 61%);
    --first-color-second: hsl(var(--hue-color),69%, 61%);
    --first-color-alt: hsl(var(--hue-color),57%, 53%);
    --first-color-lighter: hsl(var(--hue-color),92%, 85%);
    --title-color: hsl(var(--hue-color),8%, 15%);
    --text-color: hsl(var(--hue-color),8%, 45%);
    --text-color-light: hsl(var(--hue-color),8%, 65%);
    --input-color: hsl(var(--hue-color),70%, 96%);
    --body-color: hsl(var(--hue-color),60%, 99%);
    --container-color: #fff;
    /*-------------------------*/
    --body-font: 'Poppins', sans-serif;
    /*-------------------------*/
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /*-------------------------*/
    --font-medium: 500;
    --font-semi-bold: 600;
    /*-------------------------*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
    /*-------------------------*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}
@media screen and (min-width: 968px){
    :root{
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: .1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}
html{
    scroll-behavior: smooth ;
}
body{
    background-image: url("6465.jpg");
    background-size:cover;
    width: 100%;
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color)
}
.container__datos{
    padding: 1rem;
    align-items: center;
}
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index:100;
    background-color: black;
    color: white;
}
.card{
    width: 700px;
    display: block;
    align-items: center;
    margin: 1rem 0 0 1rem;
    margin-left: auto;
    margin-right: auto;
}
.card-title{
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.card-button{
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.container {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
ul{
    list-style: none;
    align-items: center;
}
a{
    text-decoration: none;
}
.icon{
    font-size: 12rem;
    color: rgb(66, 121, 66);
    box-shadow: 0 0 15 0;
}

#error {
    text-align: center;
    width: 700px;
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#resultados{
    text-align: center;
    width: 700px;
    display: block;
    align-items: center;
    margin: 1rem 0 0 1rem;
    margin-left: auto;
    margin-right: auto;
}

#historial {
    display: grid;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    width: 1000px;
    height: 50px;
    border: 1px;
}
table {
width: 100%;
text-align: left;
background-color: #fff;
}
th, td {
    padding: 1rem;
}
thead {
    background-color: rgb(66, 121, 66);
    color: #fff;
}
.error {
    color: red;
    display: none;
}

