html{
    scroll-behavior: smooth ;
}
body{
    background-image: url("assets/6465.jpg");
    background-size:cover;
    width: 100%;
}
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index:100;
    background-color: black;
    color: white;
}
.card{
    width: 700px;
    display: block;
    align-items: center;
    margin: 1rem 0 0 1rem;
    margin-left: auto;
    margin-right: auto;
}
.card-title{
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.card-button{
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
}
ul{
    list-style: none;
    align-items: center;
}
a{
    text-decoration: none;
}
.icon{
    font-size: 12rem;
    color: rgb(66, 121, 66);
    box-shadow: 0 0 15 0;
}
#resultados{
    text-align: center;
    width: 500px;
    display: block;
    align-items: center;
    margin: 1rem 0 0 1rem;
    margin-left: auto;
    margin-right: auto;
}
#Resultado_plazo {
    background-color: white;
    border: 1px solid rgb(66, 121, 66);;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
    border-style: none;
    display: grid;
    text-align: left;
    line-height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    width: 600;
    height: 50px;
    margin: auto;
}
table {
    border: 1px ;
    width: 1000px;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: 2px 2px 10px black;
}
thead {
    background-color: rgb(66, 121, 66);
    color: #fff;
}
th, td {
    padding: 1rem;
}
span{
    color: red;
    font-style: bold;
}
#resultado_inversion{
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black ;
}
.button{
    margin-left: 1rem;
    background-color: black;
    color: #fff;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 6px;
    width: max-content;
}
.button:hover{
    transform: scale(1.01);
    box-shadow: 2px 2px 10px black ;
}


